.coutries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
@media only screen and (max-width: 600px) {
  .coutries {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .coutries {
    grid-template-columns: repeat(2, 1fr);
  }
}
